<head>
    <title>AdminPortal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/css/Adminstyle.css")" rel="stylesheet" />

</head>


<body>
    <input type="checkbox" id="check" />

    <div class="container">

        <label for="check">
            <i class="fa fa-bars" id="side-nav_btn"></i>
        </label>

        <div class="left_side">
            <h3>Admin Portal</h3>
        </div>
    </div>


    <div class=" side-nav">

        <div class="logo">
            <img src="~/Images/logo.png" alt="logo" class="image">
        </div>


        <a href="#"><i class="fa fa-check"><span>Approve Request</span></i></a>
        <a href="#"><i class="fa fa-address-card"><span>Employee Details</span></i></a>
        <a href="#"><i class="fa fa-align-justify"><span>Operator Details</span></i></a>
        <a href="#"><i class="fa fa-file"><span>Report</span></i></a>
        <a href="#"><i class="fa fa-map-marker"><span>Map</span></i></a>

    </div>

    <div class="banner">
    </div>



</body>