<head>
    <link  rel="stylesheet" href="~/css/PortalLandingPage.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark top-navbar">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-size: 2rem;">Global Logic</a>
            <a class="navbar-brand" href="#" style="font-size: 1.5rem;">Admin Portal</a>

        </div>
    </nav>
    </div>
    <div class="container">
        <div class="left-page">
            <img src="~/Images/1.jpg" alt="">
        </div>


        <div class="Right-page">

            <div class="card card-details" style="width: 25rem;">

                <div class="card-body">
                    <h5 class="card-title">Welcome To admin portal</h5>
                    <hr>
                    <img src="https://img.freepik.com/premium-vector/man-avatar-profile-round-icon_24640-14044.jpg?w=2000" alt="">
                    <p class="card-text"> CLICK TO LOGIN</p>
                    <a href="#" class="btn btn-success" style="margin-left: 130px;">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
